<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Session</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/session.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  
  <body>  
    <div class="navbar">
          <div class="logo">
              <div id="logo-img"></div>
              <h1>Conversation Cubbyhole</h1>
          </div>
      <div class="login-container">
        <div class="profile-dropdown">
          <div class="gradient-border">
            <div class="dropdown-name-profile">
              <div class="pfp"></div>
              <div class="profile-name"></div>
            </div>
          </div>
          <!-- dropdown content  -->
          <div class="dropdown-content">
          <!-- change username  -->
            <a href="#" id="change-username">Change Username</a>
            <a id="logout" href="#">Log Out</a>
          </div>
        
        </div>

      </div>
  </div>
  <div class="newUsername-modal-container hidden">

    <!-- add hidden class to container -->
    <div id="newUsername-modal"> 
      <label for="newUsername">New Username</label>
      <input type="text" id="newUsername">
      <div class="setUsernameBtn-container">
        <button id="setUsernameBtn" class="btn">Set Username</button>
        <button id="close-username-modal" class="btn">Close Modal</button>
      </div>
    </div>
  </div>
            
<section id="application">
  <!-- container with the rooms on the left, and the messages on the right -->
  <!-- below that container is the textbox for messages and the attach image button on the left of the textbox  -->
<!-- 
  <div class="selector-messages-overlay">
    <div id="selector-messages-overlay-text">
      Join Global To Begin Chatting
    </div>
  </div> -->

  <div class="selector-and-messages-container">
    <!-- navigation - room selector  -->
    <div class="select-room-container">
      <div class="select-room-title">Rooms</div>
      <div class="select-room">
        <button
          onclick="joinRoom('globalRoom')"
          id="globalRoom"
          class="room-icon"
          value="globalRoom"
          name="global"
        ></button>
        <button
          onclick="joinRoom('booksRoom')"
          id="booksRoom"
          class="room-icon"
          value="booksRoom"
          name="books"
        ></button>
        <button
          onclick="joinRoom('entertainmentRoom')"
          value="entertainmentRoom"
          id="entertainmentRoom"
          class="room-icon"
          name="entertainment"
        ></button>
        <button
          onclick="joinRoom('technologyRoom')"
          id="technologyRoom"
          value="technologyRoom"
          class="room-icon"
          name="technology"
        ></button>
        <button
          onclick="joinRoom('healthRoom')"
          id="healthRoom"
          value="healthRoom"
          class="room-icon"
          name="health"
        ></button>
      </div>
    </div>

    <!-- messages  -->
    <div class="message-container">
      <ul id="messages"></ul>
    </div>
  </div>
</section>

<section id="messages-section"></section>

<div class="chat-container">
  <!--image uploader-->
  <form action="">
    <label for="image" id="custom-upload" class="custom-file-upload">
    </label>

    <input
      id="image"
      type="file"
      accept=".jpg,.jpeg,.png,.JPG,.JPEG,.PNG"
    />
  </form>
  <input id="comment" name="" type="text" />
</div>
  <script type="module" src="js/tooltip.js"></script>
  <script src="js/homeLocal.js"></script>
	<script src="js/session.js"></script>
  <!-- Production -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
	
  </body>
</html>  
  
  
