:root {
  --bg-color: #2f3e46;
  --text-color: #cad2c5;
  --btn-color: #84a98c;
  --accent-color: #52796f;
  --dark-accent-color: #354f52;
}

/* custom scroll bar  */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(47, 62, 70, 0.85);
  /* bg color but just more transparent  */
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  transition: 0.25s ease-in-out;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-accent-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: "Open-Sans", sans-serif;
  background-color: var(--bg-color);
  height: 100%;
  color: var(--text-color);
  background-image: linear-gradient(
    340deg,
    hsl(201deg 20% 23%) 0%,
    hsl(190deg 23% 31%) 3%,
    hsl(176deg 21% 39%) 8%,
    hsl(155deg 17% 50%) 16%,
    hsl(137deg 17% 57%) 27%,
    hsl(147deg 16% 52%) 40%,
    hsl(156deg 17% 46%) 54%,
    hsl(163deg 19% 41%) 69%,
    hsl(169deg 20% 37%) 81%,
    hsl(176deg 21% 33%) 91%,
    hsl(181deg 21% 29%) 98%,
    hsl(186deg 21% 26%) 100%
  );
}

/* navbar  */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding: 20px;
  gap: 1rem;
}

header #logo {
  /* background-color: blue; */
  width: 50px;
  height: 50px;
  background: url("../assets/logo.png");
  background-size: contain;
}

/* welcome modal  */

.welcome-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  gap: 10px;
}

.welcome-modal #subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.welcome-modal #username {
  font-size: 1.2rem;
  border: none;
  padding: 3px;
}

.welcome-modal #setUsernameBtn {
  border: none;
  background-color: var(--btn-color);
  padding: 10px;
  transition: 0.3s;
  font-family: inherit;
  font-weight: 400;
}

.welcome-modal #setUsernameBtn:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

/* actual chat section  */

.select-room-container {
  background: #333;
  display: flex;
  flex-direction: column;
  width: auto;
}

.select-room-container .select-room {
  display: flex;
  flex-direction: column;
}

#messages-section {
  /* background-color: pink; */
  background-color: rgba(0, 0, 0, 0.3);
  height: 400px;
}

.message-container {
  overflow-y: auto;
  max-height: 400px;
  max-width: 1200px;
}

#messages {
  width: 100%;
}

.chat-container {
  max-width: 1200px;
  position: absolute;
  bottom: 0;
  background-color: red;
  width: 100%;
  display: flex;
  flex-grow: 0;
}
